### multiplication table (9*9)

In [ ]:
for x in range(1,10):
    for y in range(1,10):
        print(x*y)

In [ ]:
for x in range(1,10):
    for y in range(1,10):
        print("\t",x*y, end=" ")

In [ ]:
for x in range(1,10):
    for y in range(1,10):
        if(y==9):
            print("\t", x*y)
        else:
            print("\t", x*y, end=" ")

In [ ]:
for x in range(1,10):
    for y in range(1,10):
        if(y==9):
            print("\t", x, "*", y, "=", x*y)
        else:
            print("\t", x, "*", y, "=", x*y, end=" ")